<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arttraining.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.arttraining.user.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="real_name" property="realName"/>
        <result column="nick_name" property="nickName"/>
        <result column="avatar" property="avatar"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="user_type" property="userType"/>
        <result column="campus_id" property="campusId"/>
        <result column="campus_code" property="campusCode"/>
        <result column="employee_no" property="employeeNo"/>
        <result column="student_no" property="studentNo"/>
        <result column="entry_date" property="entryDate"/>
        <result column="department" property="department"/>
        <result column="position" property="position"/>
        <result column="id_card" property="idCard"/>
        <result column="emergency_contact" property="emergencyContact"/>
        <result column="emergency_phone" property="emergencyPhone"/>
        <result column="status" property="status"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="password_update_time" property="passwordUpdateTime"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
    </resultMap>

    <select id="selectUserPage" resultMap="BaseResultMap">
        SELECT * FROM sys_user
        <where>
            deleted = 0
            <if test="query.username != null and query.username != ''">
                AND username LIKE CONCAT('%', #{query.username}, '%')
            </if>
            <if test="query.realName != null and query.realName != ''">
                AND real_name LIKE CONCAT('%', #{query.realName}, '%')
            </if>
            <if test="query.phone != null and query.phone != ''">
                AND phone LIKE CONCAT('%', #{query.phone}, '%')
            </if>
            <if test="query.userType != null">
                AND user_type = #{query.userType}
            </if>
            <if test="query.campusId != null">
                AND campus_id = #{query.campusId}
            </if>
            <if test="query.status != null">
                AND status = #{query.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectRoleIdsByUserId" resultType="java.lang.Long">
        SELECT role_id FROM sys_user_role WHERE user_id = #{userId}
    </select>

    <select id="selectUserByUsername" resultMap="BaseResultMap">
        SELECT * FROM sys_user WHERE username = #{username} AND deleted = 0
    </select>

    <select id="selectUserByPhone" resultMap="BaseResultMap">
        SELECT * FROM sys_user WHERE phone = #{phone} AND deleted = 0
    </select>

</mapper>
